body.geolocated-content-settings-active #wp-admin-bar-geolocated_content_location {
	display: block;
}

#wp-admin-bar-geolocated_content_location {
	display: none;
}

.geolocated-content-settings-overwritable:after {
	margin-left: 10px;
	float: right;
	cursor: help;
	font-family: dashicons;
	content: "\f319";
}

#geolocated-content-settings-modal table {
	border-collapse: collapse;
}

#geolocated-content-settings-modal table td {
	border: 1px solid #ccc;
}

#geolocated-content-settings-modal table tr td:first-child {
	font-weight: bold;
}

#geolocated-content-settings-modal table tr td:nth-of-type(2) {
	font-family: monospace;
	white-space: pre;
}

#geolocated-content-settings-modal table tr td:last-child {
	text-align: center;
}
